fastapi
python-multipart
pydantic
langchain-text-splitters
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.5.0
supabase
groq
uvicorn
redis
requests
pandas
beautifulsoup4
python-docx
python-pptx==1.0.2
pypdf
pdf2image
pytesseract
Pillow
httpx
python-dotenv
psycopg2-binary