fastapi
uvicorn
pydantic[email]

langchain-text-splitters

passlib[bcrypt]
python-jose[cryptography]

supabase

groq

redis

requests
httpx

pandas

beautifulsoup4

python-docx
python-pptx

pypdf
pdf2image
pytesseract
Pillow

psycopg2-binary

python-dotenv

python-multipart
email-validator