fastapi
uvicorn[standard]
pydantic[email]
email-validator
python-multipart
langchain-text-splitters
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
supabase
groq
redis
requests
httpx
pandas
openpyxl
beautifulsoup4
python-docx
python-pptx
pypdf
pdf2image
pytesseract
Pillow
psycopg2-binary
python-dotenv
langchain
langchain-groq
langchain-core